.collections{

    min-height:100vh;

    padding:140px 8%;

    background:#050505;
}

.collections-title{

    text-align:center;

    margin-bottom:80px;
}

.collections-title span{

    color:#b400ff;

    letter-spacing:4px;

    text-transform:uppercase;
}

.collections-title h1{

    color:white;

    font-size:70px;

    margin-top:20px;

    font-family:'Orbitron',sans-serif;
}

.collections-title p{

    color:#9f9f9f;

    margin-top:15px;
}

/* GRID */

.collections-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(450px,1fr));

    gap:35px;
}

/* CARD */

.collection-card{

    position:relative;

    overflow:hidden;

    border-radius:25px;

    height:500px;

    border:1px solid rgba(180,0,255,.15);
}

.collection-card img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:.8s;
}

.collection-card:hover img{

    transform:scale(1.1);
}

/* OVERLAY */

.overlay{

    position:absolute;

    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    padding:40px;

    background:
    linear-gradient(
    transparent,
    rgba(0,0,0,.95)
    );
}

.overlay span{

    font-size:60px;

    color:#b400ff;

    font-weight:700;

    margin-bottom:10px;

    text-shadow:
    0 0 10px #b400ff,
    0 0 25px #b400ff;
}

.overlay h2{

    color:white;

    font-size:36px;

    margin-bottom:10px;
}

.overlay p{

    color:#bdbdbd;

    max-width:350px;

    margin-bottom:25px;
}

/* BOTÃO */

.overlay a{

    width:max-content;

    text-decoration:none;

    color:white;

    padding:15px 30px;

    border-radius:50px;

    background:
    linear-gradient(
    90deg,
    #8c00ff,
    #d14dff
    );

    transition:.4s;
}

.overlay a:hover{

    box-shadow:
    0 0 15px #b400ff,
    0 0 40px #b400ff;
}