*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{

  --bg:#050505;
  --purple:#8f2dff;
  --purpleLight:#c56dff;
  --white:#ffffff;
  --gray:#b9b9b9;

}

body{
  

  color:white;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
  min-height:100vh;
  position:relative;

}

/* INTRO */

.intro{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#050505;

    z-index:9999;

    animation:hideIntro 3s forwards;
}

/* LOGO */

.logo-intro{

    display:flex;
    gap:10px;

    font-family:'Orbitron',sans-serif;
    font-size:11rem;
    font-weight:800;

    color:white;
}

/* LETRAS */

.letter{

    opacity:0;

    transform:translateY(80px) scale(.2);

    animation:flashLetter .8s forwards;
}

/* DELAYS */

.letter:nth-child(1){animation-delay:.2s;}
.letter:nth-child(2){animation-delay:.6s;}
.letter:nth-child(3){animation-delay:1s;}
.letter:nth-child(4){animation-delay:1.4s;}
.letter:nth-child(5){animation-delay:1.8s;}
.letter:nth-child(6){animation-delay:2.2s;}
.letter:nth-child(7){animation-delay:2.6s;}

/* FLASH */

@keyframes flashLetter{

    0%{

        opacity:0;

        filter:
        brightness(10)
        blur(20px);

        transform:
        scale(.2);
    }

    50%{

        opacity:1;

        color:#d14dff;

        text-shadow:
        0 0 20px #b400ff,
        0 0 40px #b400ff,
        0 0 80px #b400ff,
        0 0 150px #b400ff;
    }

    100%{

        opacity:1;

        color:white;

        transform:
        scale(1);

        text-shadow:
        0 0 15px #8f2dff,
        0 0 30px #8f2dff;
    }
}

/* ESCONDER INTRO */

@keyframes hideIntro{

    0%,85%{

        opacity:1;
        visibility:visible;
    }

    100%{

        opacity:0;
        visibility:hidden;
    }

}


/* BACKGROUND */
.background{
  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at left, rgba(143,45,255,.18), transparent 30%),
  radial-gradient(circle at right, rgba(143,45,255,.15), transparent 30%),
  #050505;

  z-index:-10;
}


/* HEADER */

header{
  width:100%;
  height:90px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 20px 0 20px;

  position:fixed;
  top:0;

  z-index:999;

  backdrop-filter:blur(10px);

  border-bottom:1px solid rgba(255,255,255,.05);
}

.logo{
  font-family:'Orbitron',sans-serif;
  font-size:42px;
  font-weight:800;
  letter-spacing:4px;
}

.logo span{
  color:var(--purpleLight);

  text-shadow:
  0 0 10px var(--purple),
  0 0 20px var(--purple),
  0 0 40px var(--purple);
  margin:  0 50px 0 0;
}

nav{
  display:flex;
  gap:40px;
}

nav a{
  color:white;
  text-decoration:none;
  font-size:14px;
  letter-spacing:2px;
  transition:.4s;
  position:relative;
}

nav a:hover,
nav .active{
  color:var(--purpleLight);
}

nav .active::after{
  content:'';
  width:100%;
  height:2px;
  background:var(--purple);

  position:absolute;
  left:0;
  bottom:-12px;

  box-shadow:
  0 0 10px var(--purple),
  0 0 20px var(--purple),
  0 0 40px var(--purple);
}

.icons{
  display:flex;
  gap:20px;
}

.icons svg{
  width:20px;
  color:white;
  cursor:pointer;
  transition:.4s;
}

.icons svg:hover{
  color:var(--purpleLight);

  filter:
  drop-shadow(0 0 10px var(--purple))
  drop-shadow(0 0 20px var(--purple));
}

/* HERO */

.hero{
  margin-top: 90px;
  background-image: url(/public/banner.png);
  width:100%;
  min-height:100vh;

 background-size: cover;
  background-position: center;

  position: relative;


}

/* LINHAS */

.line{
  position:absolute;
  background:var(--purple);

  box-shadow:
  0 0 10px var(--purple),
  0 0 30px var(--purple),
  0 0 60px var(--purple),
  0 0 120px var(--purple);

  animation:glow 2s infinite alternate;
}

.line-1{
  width:300px;
  height:3px;

  left:0;
  top:200px;

  transform:rotate(-50deg);
}

.line-2{
  width:400px;
  height:3px;

  right:0;
  top:300px;

  transform:rotate(-60deg);
}

.line-3{
  width:250px;
  height:3px;

  right:200px;
  bottom:150px;

  transform:rotate(-55deg);
}

@keyframes glow{

  0%{
    opacity:.5;
  }

  100%{

    opacity:1;

    box-shadow:
    0 0 20px var(--purple),
    0 0 40px var(--purple),
    0 0 80px var(--purple),
    0 0 140px var(--purpleLight);

  }

}

/* CHARACTER */

.character{
  position:relative;
  display:flex;
  justify-content:center;
}

.character img{
  width:500px;
  height:700px;

  object-fit:cover;

  border-radius:20px;

  filter:
  brightness(.5)
  contrast(1.1);
}

.character-glow{
  position:absolute;

  width:300px;
  height:300px;

  background:var(--purple);

  filter:blur(120px);

  opacity:.5;

  z-index:-1;
}

/* CENTER */

.center-content{
  text-align:center;
}

.small-line{
  width:80px;
  height:2px;

  background:var(--purple);

  box-shadow:
  0 0 10px var(--purple),
  0 0 20px var(--purple);
}

.welcome span{
  letter-spacing:8px;
  font-size:14px;
}

.logo-symbol{
  font-size:220px;

  font-family:'Orbitron',sans-serif;
  font-weight:800;

  color:var(--purpleLight);

  text-shadow:
  0 0 20px var(--purple),
  0 0 40px var(--purple),
  0 0 80px var(--purple);

  animation:float 4s infinite ease-in-out;
}

@keyframes float{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0);
  }

}

.center-content h1{
  font-size:110px;
  font-family:'Orbitron',sans-serif;
  letter-spacing:5px;

  background:linear-gradient(to bottom,#fff,#9c9c9c);

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.center-content p{
  margin-top:20px;

  letter-spacing:6px;
  color:#c9c9c9;
}

/* BOX */

.movement-box{
  margin: 50px auto 0;

  width:500px;

  display:flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  top:63%;
  left:50%;
  transform:translate(-50%,-50%);
  gap:20px;

  padding:25px;

  border:1px solid rgba(143,45,255,.4);

  border-radius:20px;

  background:rgba(143,45,255,.08);

  backdrop-filter:blur(10px);

  box-shadow:
  0 0 20px rgba(143,45,255,.2);
}

.icon-circle{
  width:70px;
  height:70px;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  background:rgba(143,45,255,.2);

  font-size:28px;
}

.movement-text{
  font-size:20px;
  text-align:left;
}

.movement-text strong{
  color:var(--purpleLight);
}

/* =========================================
   FEATURES LATERAL VELTRIX
========================================= */

.features{

  position:absolute;

  top:5%;
  right:15%;

  display:flex;
  flex-direction:column;

  gap: 5px;

  z-index:10;
}

/* ITEM */

.feature-item{

  display:flex;
  align-items:center;

  gap:5px;

  transition:.4s ease;
}

/* HOVER */

.feature-item:hover{

  transform:translateX(-8px);

}

/* ÍCONES */

.feature-item i{

  font-size:46px;

  color:#b300ff;

  filter:
  drop-shadow(0 0 6px #b300ff)
  drop-shadow(0 0 15px #b300ff)
  drop-shadow(0 0 30px #7a00ff);

  animation:iconGlow 2s infinite alternate;
}

/* ANIMAÇÃO BRILHO */

@keyframes iconGlow{

  0%{

    opacity:.8;

    filter:
    drop-shadow(0 0 4px #b300ff)
    drop-shadow(0 0 12px #b300ff);

  }

  100%{

    opacity:1;

    filter:
    drop-shadow(0 0 8px #d000ff)
    drop-shadow(0 0 20px #b300ff)
    drop-shadow(0 0 45px #7a00ff);

  }

}

/* TEXTOS */

.feature-text{

  display:flex;
  flex-direction:column;

  gap:3px;
}

/* TEXTO SUPERIOR */

.feature-text span{

  color:#ffffff;

  font-size:15px;

  letter-spacing:2px;

  text-transform:uppercase;

  font-family:'Poppins',sans-serif;
}

/* TEXTO ROXO */

.feature-text strong{

  color:#bb00ff;

  font-size:18px;

  letter-spacing:1px;

  text-transform:uppercase;

  font-weight:700;

  text-shadow:
  0 0 5px #bb00ff,
  0 0 10px #bb00ff,
  0 0 25px #7a00ff;
}



/* =========================================
   BARRA INFERIOR FUTURISTA VELTRIX
========================================= */

.bottom-bar{

  width:100%;

  display:grid;
  grid-template-columns:repeat(4,1fr);

  align-items:center;

  padding:32px 60px;

  background:rgba(0,0,0,.75);

  border-top:1px solid rgba(255,255,255,.05);

  border-bottom:1px solid rgba(255,255,255,.05);

  backdrop-filter:blur(10px);

  position:relative;

  overflow:hidden;
}

/* brilho de fundo */

.bottom-bar::before{

  content:'';

  position:absolute;
  inset:0;

  background:
  linear-gradient(
    90deg,
    transparent,
    rgba(162,0,255,.08),
    transparent
  );

  animation:shine 6s linear infinite;
}

@keyframes shine{

  0%{
    transform:translateX(-100%);
  }

  100%{
    transform:translateX(100%);
  }

}

/* ITENS */

.bottom-item{

  display:flex;
  align-items:center;
  justify-content:center;

  gap:18px;

  padding:20px 10px 20px 10px;

  position:relative;
}

/* linha separadora */

.bottom-item::after{

  content:'';

  position:absolute;

  right:0;

  width:1px;
  height:50px;

  background:
  linear-gradient(
    to bottom,
    transparent,
    rgba(255,255,255,.15),
    transparent
  );
}

.bottom-item:last-child::after{
  display:none;
}

/* ÍCONES */

.bottom-item i{

  font-size:42px;

  color:#b100ff;

  filter:
  drop-shadow(0 0 5px #b100ff)
  drop-shadow(0 0 12px #b100ff)
  drop-shadow(0 0 25px #7b00ff);

  animation:iconGlow 2s infinite alternate;
}

@keyframes iconGlow{

  0%{
    opacity:.8;
  }

  100%{

    opacity:1;

    filter:
    drop-shadow(0 0 10px #d400ff)
    drop-shadow(0 0 25px #b100ff)
    drop-shadow(0 0 40px #7b00ff);

  }

}

/* TEXTOS */

.bottom-text{

  display:flex;
  flex-direction:column;

  gap:4px;
}

.bottom-text span{

  font-size:14px;

  color:white;

  letter-spacing:3px;

  font-family:'Poppins',sans-serif;

  text-transform:uppercase;

  line-height:1.5;
}

/* hover */

.bottom-item:hover{

  background:rgba(140,0,255,.06);

  transition:.4s;
}



/* FOOTER */

footer{
  width:100%;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;

  padding:40px;
}

.footer-line{
  width:120px;
  height:2px;

  background:var(--purple);

  box-shadow:
  0 0 10px var(--purple),
  0 0 20px var(--purple);
}

footer span{
  letter-spacing:12px;
  color:var(--purpleLight);
}

